<p id="author">Ésta aplicación ha sido creada por Álvaro Gericke Parga</p>
<div class="media">
    <img id="homer" src="homer-simpson.jpg"/>
    <iframe id="video" width="854" height="480" src="https://www.youtube.com/embed/p0_Uc3GFq14" frameborder="0" allowfullscreen></iframe>    
</div>
