* {margin: 0;padding: 0px;}

body {
 font: 16px Georgia, serif;
}

#page-wrap{
  margin: 2% auto;
  color: white;
}

#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  color: black;
}

section > div {
  padding: 20px;
}

header, nav, section, footer{
  background: #eee;
  text-align: center;

}

nav span{
 margin: 0px 10px 0px 0px;
}

/*css relacionado con mensajes flash*/
#mensajes ul {
  list-style-position: inside;
  background-color: #FFE4E1;
}

#flashsuccess h3 {
    background-color: #0d0;
}

#flasherror h3 {
    background-color: #d00000;
}

#flashinfo h3 {
    background-color: #DEB887;
}