<form method='get' action='/search'>
    <input type="text" name="search1" placeholder="Introducir búsqueda en search1"/>
    <input type="submit" value="Buscar"/>
</form>
<table>
    <% for (var i in quizzes) { %>
        <tr>
            <td>
                <a href="/quizzes/<%= quizzes[i].id %>">
                    <%= quizzes[i].question %>
                </a>
            </td>
        </tr>
    <% } %>
</table>
<form method='get' action='/quizzes'>
    <input type="text" name="search" placeholder="Introducir búsqueda"/>
    <input type="submit" value="Buscar"/>
</form>